video::-webkit-media-controls {
    display:none !important;
  }
::-webkit-media-controls {
    display:none !important;
}
.custom-video-controls {
    z-index: 2147483647;

}
.video_controls{
    // opacity: 0;
}
.video_container{
    border:2px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video_spinner{

}
.controls_seek_change{
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom:30px;
    left:0;
}
.controls_seek_time{
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom:30px;
    left:0;
}