.text{
    // border: 1px solid grey;
    color: skyblue;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
}

.text:hover{
    // font-weight: 900;
    border: 0px;
}
.page_index{
    // border:1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // z-index: 1;
    // flex:1;
    width: 100%;
    // width: fit-content;
    height: 100%;
    // overflow: visible;
    // position: relative;
}

.title{
    // position: absolute;
    color:white !important;
    z-index: 200;
    text-align: center;
    text-justify: center;
}
.cinemaButton{
    // color:white !important;
    // border: 1px solid white !important;
    // background-color: black;
}
.site-page-header{
    position: fixed;
    width: 100%;
}
.ant-page-header-heading-title{
    color:white;
    // font: italic;
    font-style: italic;
//   font-family:cursive;
}